$tuGreen: #00792c;
$tuGreenLight: #afca03;
$tuGray: #333333;
$tuGrayMenu: #828282;
$tuGrayLight: #9d9d9d;
$tuGrayBasic: #cccccc;
$tuWhiteGray: #ededed;
$tuWhite: #FFFFFF;
$tuGrayBorder: #e3dfdb;

//assortment
$tuAssortmentGreen: #6cb23e;
$tuAssortmentRed: #c3102f;
$tuAssortmentAqua: #009fae;
$tuAssortmentBlue: #005ca9;
$tuAssortmentPurple: #a44398;
$tuAssortmentOrange: #f47f24;
$tuAssortmentYellow: #eeb111;