#visual-search-results {
    h2 {
        font: 19px Arial;
        font-weight: bold;
        color: $tuGreen;
        margin: 5px 0 15px;
        text-align: left;
    }
    ul {
        text-align: left;
        padding: 0;
    &>li {
        float: left;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        margin-left: 20px;
        height: 150px;
        width: 140px;
        margin-bottom: 10px;
        overflow: hidden;
        letter-spacing: -1px;
        a.assortment-icon {
            position: absolute;
            width: 25px;
            height: 25px;
            z-index: 1;
            background: url(https://accept.ocp.technischeunie.nl//static/images/sprites/assortment.png) 0 0 no-repeat;
            min-height: 24px;
                &.green {
                    background-position: 0 -34px;
                }
                &.red {
                    background-position: 0 -204px;
                }
            }
        }
    }
    .dimensions {
    width: auto;
    height: auto;
        figure {
           border: 1px solid $tuGrayBorder; 
           img {
            padding: 20px 19px;
            width: 100%;
            }
        }
        .overlay {
            height: 30px;
            font-size: 11px;
            line-height: 10px;
            padding-top: 5px;
            position: absolute;
            left: 0;
            bottom: 8PX;
            color: $tuWhite;
            width: 100%;
            background-color: rgba(0,0,0,.5);
            text-align: center;
        }
    }
}